@font-face {
    font-family: "flaticon";
    src: url("../fonts/flaticon.ttf?f844f97613cae2d62d013c501c499450") format("truetype"),
url("../fonts/flaticon.woff?f844f97613cae2d62d013c501c499450") format("woff"),
url("../fonts/flaticon.woff2?f844f97613cae2d62d013c501c499450") format("woff2"),
url("../fonts/flaticon.eot?f844f97613cae2d62d013c501c499450#iefix") format("embedded-opentype"),
url("../fonts/flaticon.svg?f844f97613cae2d62d013c501c499450#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-cake:before {
    content: "\f101";
}
.flaticon-cake-slice:before {
    content: "\f102";
}
.flaticon-recipes:before {
    content: "\f103";
}
.flaticon-cup-cake:before {
    content: "\f104";
}
.flaticon-cookie:before {
    content: "\f105";
}
.flaticon-truck:before {
    content: "\f106";
}
